{% extends "base.html.twig" %}

{% block body %}
    <section class="about-body">
        {% if wish.category is not null %}
            <h2 class="detail-element">Catégorie: {{ wish.category.name }}</h2>
        {% endif %}
        <h3 class="detail-element">{{ wish.title }}</h3>
        <div>
            <img src="{{ asset('uploads/wish/' ~ wish.wishImage) }}" alt="">
        </div>
        <p class="detail-element">Description: {{ wish.description | nl2br}}</p>
        <p class="detail-element">Auteur: {{ wish.user.pseudo }}</p>
        <p class="detail-element">Date de création: {{ wish.dateCreated | date('d-m-Y H:i')}}</p>

        <div class="a-link">
            {% if app.user %}
                <p><a href="{{ path('wish_update', { 'id': wish.id}) }}"><button>Modifier</button></a></p>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
            <p><a onclick="return confirm('etes-vous sûr de vouloir supprimer {{ wish.title }} ?')"
                   href="{{ path('wish_delete', {'id': wish.id}) }}">
                    <button>Supprimer</button>
                </a></p>
            {% endif %}
        </div>
    </section>
{% endblock %}