<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bucket-list{% endblock %}</title>
        <link rel="icon" href="{{ asset('img/favicon.png')}}">
        <link rel="stylesheet" href="{{ asset('styles/apps.css') }}">
        <link rel="stylesheet" href="{{ asset('styles/normalize.css') }}">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <header>
            <img src="{{ asset('img/logo.png') }}" alt="logo du site">
            <h1>Bucket-list</h1>
            {% include "views/menu/nav.html.twig" %}
        </header>
        <main>
            {% block body %}{% endblock %}
        </main>
        <footer>
            {% include "views/footer.html.twig" %}
        </footer>
    </body>
</html>
